/* LoginForm.css */

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}

.form-floating>.form-control {
    background-color: transparent;
    color: white;

}

.form-floating>.form-control:focus {
    border-color: #0d6efd;
    box-shadow: none;
}

.form-floating>label {
    color: #adb5bd;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label {
    color: #0d6efd;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

.shadow-lg {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25) !important;
}

.bg-light {
    /* background-color: #eef1ff !important; */
    background: linear-gradient(135deg, #fce7dd, #f9d0ba);
}

.form-control {
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid #dee2e6;
    border-radius: 12px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.form-control:focus {
    background: #fff;
    border-color: #4f46e5;
    box-shadow: 0 0 0 0.2rem rgba(79, 70, 229, 0.25);
    outline: none;
}

.btn-primary {
    background-color: #4f46e5;
    border-radius: 12px;
    padding: 0.75rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    border: none;
}

.btn-primary:hover {
    background-color: #4338ca;
    box-shadow: 0 6px 12px rgba(79, 70, 229, 0.3);
}

.image-upload-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #4f46e5;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.glass-box {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    border-radius: 16px;
}